[submodule "src/Livox-SDK2"]
	path = src/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
[submodule "src/FAST_LIO"]
	path = src/FAST_LIO
	url = https://github.com/Ericsii/FAST_LIO_ROS2.git
[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
[submodule "src/ublox"]
	path = src/ublox
	url = https://github.com/KumarRobotics/ublox.git
	branch = ros2

[submodule "src/ntrip_client"]
	path = src/ntrip_client
	url = https://github.com/LORD-MicroStrain/ntrip_client.git
	branch = ros2
